# Get the key from https://beta.openai.com/account/api-keys
OPEN_API_KEY=some-key

# Get the key from https://serpapi.com/dashboard
# Only needed if you want to use the SERP API (eg. examples/chat_serp.py)
SERPAPI_API_KEY=some-key
